
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
instance/
.webassets-cache
.pytest_cache/
.coverage
htmlcov/
dist/
build/
.eggs/
*.egg-info/
.installed.cfg
*.egg
*.log
*.pot
*.mo
*.db
*.sqlite
*.sqlite3
*.bak
*.swp
*.swo
*.DS_Store
*.env
*.env.development
*.env.production
*.pt