flask
dotenv
flask_cors
flask_sqlalchemy
pydantic_settings
psycopg2-binary
bcrypt
itsdangerous
requests
numpy
pillow
ultralytics
transformers
torch
torchvision
opencv-python-headless>=4.6.0
accelerate
scikit-learn
