@import "tailwindcss";

@theme {
    --color-primary: #3a56b8;
    --color-primary-hover: #23398c;
    --color-primary-active: #142861;
    --color-secondary: #ffc106;
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

#root {
    line-height: 1.5;
    font-weight: 400;
    width: 100vw;
    height: 100vh;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none; /* Hides the scrollbar visually */
}
.no-scrollbar {
    scrollbar-width: none; /* Hides the scrollbar visually */
}
